<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
 		<parameter name="browser" value="Chrome"></parameter>
		<parameter name="platform" value="MacOS"></parameter>
		<parameter name="url" value="https://hemp-trader-dev.appspot.com/signup"></parameter>
  
    <classes>
     <!--   <class name="iHTC_Testcases.TC_10_MakeABid_Message"/>
      <class name="iHTC_Testcases.TC_CA_Message_Upgradetoseller"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Rejectcompany_01"/>
      <class name="iHTC_Testcases.TC_Locations_InactiveToActive_Locations"/>
      <class name="iHTC_Testcases.TC_Payments_FullPayment_03"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Inactivate_User_01"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Accept_A_Bid_01"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Accept_A_Bid_02"/>
      -->
      
      <class name="iHTC_Testcases.TC_04_Signup_Buyer_CA_Feature_SignUp_04"/>
      
      <!-- 
      <class name="iHTC_Testcases.TC_05_Signup_Seller_CA_Feature_SignUp_06"/>
      <class name="iHTC_Testcases.TC_04_Message_Make_A_Bid"/>
      <class name="iHTC_Testcases.TC_06_Signup_Both_CA_Feature_Signup_08"/>
      <class name="iHTC_Testcases.TC_CA_Message_Companysuspend"/>
      <class name="iHTC_Testcases.TC_CA_Feature_CreateUser_04"/>
      <class name="iHTC_Testcases.TC_CA_Message_Package_Shipped"/>
      <class name="iHTC_Testcases.TC_03_BuyItNow_MessageNotification"/>
      <class name="iHTC_Testcases.TC001_Admin_Login"/>
      <class name="iHTC_Testcases.TC_CA_Message_Companyreactivate"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Upgradetobyer"/>
      <class name="iHTC_Testcases.TC_Locations_CreateLocations"/>
      <class name="iHTC_Testcases.TC_Locations_DeleteLocations"/>
      <class name="iHTC_Testcases.TC_CA_Setupshipment_FEDEX"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Upgradetoseller"/>
      <class name="iHTC_Testcases.TC_CA_Message_Document_Pending"/>
      <class name="iHTC_Testcases.TC_CA_Message_Rejectcompany"/>
      <class name="iHTC_Testcases.TC_05_Message_TransactionCancelled"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Approvecompany_01"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Resetpassworduser_03"/>
      <class name="iHTC_Testcases.TC151_CompanyAdmin_Create_Listings_Buyer"/>
      <class name="iHTC_Testcases.TC_CA_Message_Doucments_Received"/>
      <class name="iHTC_Testcases.TC_Payments_Status_Check_01"/>
      <class name="iHTC_Testcases.TC_CA_Feature_SignUp_01"/>
      <class name="iHTC_Testcases.TC_CA_Feature_SignUp_02"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Activate_User_02"/>
      <class name="iHTC_Testcases.TC_CA_Approve_Rejectedcompany_01"/>
      <class name="iHTC_Testcases.TC_02_Message_Notification_AfterSellerAcceptBid"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Reactivatecompany_01"/>
      <class name="iHTC_Testcases.TC_08_Message_RefundAlert"/>
      <class name="iHTC_Testcases.TC_CA_Setupshipment_UPS"/>
      <class name="iHTC_Testcases.TC_09_BuyItNow_Message"/>
      <class name="iHTC_Testcases.TC_Admin_Feature_Suspendcompany_01"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Make_A_Bid_02"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Make_A_Bid_01"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Make_A_Bid_04"/>
      <class name="iHTC_Testcases.TC_CA_Feature_Make_A_Bid_03"/>
      <class name="iHTC_Testcases.TC_CA_Message_UpgradetoBuyer"/>
      <class name="iHTC_Testcases.TC_06_Message_PaymentReminder"/>
      <class name="iHTC_Testcases.TC_Payments_PartialPayment_02"/>
      <class name="iHTC_Testcases.TC_Companyadmin_Login"/>
      <class name="iHTC_Testcases.TC_07_Message_ShipmentReminder"/>
      <class name="iHTC_Testcases.TC_01_Messaging_Listing_AskAQuestion"/>
      <class name="iHTC_Testcases.TC_CA_Message_Companyapprove"/>
      <class name="iHTC_Testcases.TC_1000_gmailCheck"/>
      <class name="iHTC_Testcases.TC_CA_Message_Shipping_Instructions"/>
       -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
